.layout-middle {
    height: 50vh;
    margin-top:15vh;
}

[class^="icono-"] {
    color: #ccc;
}

.icono-file {
    width: 22px;
    height: 25px;
}

.icono-folder {
    width: 12px;
    height: 18px;
}

.list-group-item {
    padding: 4px 10px;
}
