/* variables */
@date-width: 50px;
@task-height: 20px;

/* Helper */
.border {
    border: 1px solid #ccc;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

/* Main */

.gantt-container {
    /* common */

    * {
        box-sizing: border-box;
    }

    table {
        font-size: 12px;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    td,
    th {
        width: @date-width;
        height: @task-height;
        .border;
    }

    th {
        padding: 0 2px;
        border-top: 0;
    }

    .table-body {
        tr:first-child {
            td {
                border-top: 0;
            }
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }

    }

    /* container */

    /* left table */
    .detail-table {
        float: left;
        width: 25%;
        .border;
        overflow: auto;
        border-right: 0;

        td,
        th {
            padding: 0 2px;
        }

        td,
        th{
            &:first-child {
                border-left: 0;
            }
        }

        tr {
            td,
            th {
                width: 80%;

                &:first-child {
                    width: 20%
                }
            }
        }
    }

    /* right gantt */
    .gantt-area {
        float: left;
        width: 75%;
        .border;
        overflow: auto;
        border-left: 0;

        th {
            text-align: center;
        }

        td,
        th {
            &:last-child {
                border-right: 0;
            }
        }

        tr {
            td,
            th {
                &:first-child {
                    border-left: 0;
                }
            }
        }

        .table-body {
            position: relative;
        }
    }

    .weekend {
        background-color: #efefef;
    }

    .gantt {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        div {
            height: @task-height;
            background: #ccc;
        }
    }
}
