/* variables */
@date-width: 50px;
@task-height: 20px;

/* Helper */
.border {
    border: 1px solid #ccc;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

/* Main */

.filter-container {
    margin-bottom: 10px;
}

.gantt-container {
    /* common */

    * {
        box-sizing: border-box;
    }

    table {
        font-size: 12px;
        border-collapse: collapse;
        table-layout: fixed;
    }

    td,
    th {
        width: @date-width;
        height: @task-height;
        .border;
    }

    th {
        padding: 0 2px;
        border-top: 0;
    }


    /* container */

    /* left table */
    .detail-table {
        float: left;
        max-width: 25%;
        .border;
        overflow: auto;

        table {
            width: 400px;
        }

        td,
        th {
            padding: 0 2px;
        }

        td,
        th{
            width: 80px;

            &:first-child {
                border-left: 0;
                width: 190px;
            }

            &:nth-child(2){
                width: 50px;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    /* right gantt */
    .gantt-area {
        float: left;
        max-width: 75%;
        .border;
        overflow: auto;
        border-left: 0;

        th {
            text-align: center;
        }

        td,
        th {
            &:last-child {
                border-right: 0;
            }
        }

        tr {
            td,
            th {
                &:first-child {
                    border-left: 0;
                }
            }
        }

        .table-body {
            position: relative;
        }

        table {
            position: relative;
        }
    }

    .weekend {
        background-color: #efefef;
    }

    .gantt {
        position: absolute;
        top: @task-height;
        left: 0;
        right: 0;
        bottom: 0;

        div {
            height: @task-height;
            background:darken(#cfe5fa, 0);
            padding: 2px 2px;
            border: 1px solid darken(#cfe5fa, 10);

            span {
                display: block;
                height: @task-height - 6;
                background: darken(#cfe5fa, 20);
                border: 1px solid darken(#cfe5fa, 30);
            }
        }
    }
}


.progressbar-container {
    background-color:rgb(161, 204, 245);
    padding: 2px 2px;
    width:100px;
    height:20px;
    text-align: center;
}

.progressbar {
    background-color:rgb(68, 154, 236);
    height:16px;
    font-size:10px;
    position: absolute;
}